In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [17]:
df = pd.read_csv("data.csv",sep=";",error_bad_lines=False)
df.head()

,Date,Place,Time,Category,Sex,Country,Lane,Person 1,Person 2,split time 1,split time 2,split time 3,Total Time,Final Rank,Air Temp,Wind Speed,Wind Direction,Competiton Type,Competition Round,Unnamed: 19
0,31.05.2013,Poznan,10:22,SEN,M,POL,3.0,SZANDRACH PAWEŁ,KUJAWSKI MARIUSZ,00:52.82,01:48:27,02:45:10,3:41.970,1.0,15.0,1 m/s,W,WORLD CUP,HEAT,NaN
1,31.05.2013,Poznan,10:22,SEN,M,BEL,5.0,CAUWENBERGH OLIVIER,PANNECOUCKE LAURENS,00:52.51,"0,075717593",02:47:45,3:43.442,2.0,15.0,1 m/s,W,WORLD CUP,HEAT,NaN
2,31.05.2013,Poznan,10:22,SEN,M,GER,7.0,HARBRECHT GORDAN,FROESE TORBEN,00:51.95,01:47:39,02:45:50,3:45.930,3.0,15.0,1 m/s,W,WORLD CUP,HEAT,NaN
3,31.05.2013,Poznan,10:22,SEN,M,FRA,6.0,BURGER GUILLAUME,URBAN QUENTIN,00:52.26,01:50:01,"0,11806713",3:49.890,4.0,15.0,1 m/s,W,WORLD CUP,HEAT,NaN
4,31.05.2013,Poznan,10:22,SEN,M,ARG,4.0,DE GESUS JUAN PABLO,CARRERAS GONZALO,NaN,01:51:57,02:49:25,3:51.210,5.0,15.0,1 m/s,W,WORLD CUP,HEAT,NaN

In [18]:
def splitDateInColumns(df):
    for index, row in df.iterrows():
        date_object = datetime.strptime(row["Date"], '%d.%m.%Y')
        df.at[index, 'Day'] = date_object.day
        df.at[index, 'Month'] = date_object.month
        df.at[index, 'Year'] = date_object.year
    return df

In [19]:
def cleanColumns(df):
    df = df.dropna(subset=['Date', 'Person 1', 'Person 2',
                           'split time 1', 'split time 2', 'split time 3', 'Total Time'])
    return df

In [20]:

# Solution from : https://stackoverflow.com/questions/32854677/how-to-deal-with-multiple-date-string-formats-in-a-python-series
def timeToSeconds(timestr):
    for fmt in ("%M:%S.%f", "%S.%f", "%S:%f", "%M:%S:%f"):
        try:
            t = datetime.strptime(timestr, fmt)
            seconds = (t.minute * 60) + t.second + (t.microsecond * 1e-6)
            return round(seconds)
            break
        except ValueError:
            pass

In [21]:
def convertTimes(df):
    for index, row in df.iterrows():
        df.at[index, "split time 1"] = timeToSeconds(row["split time 1"])
        df.at[index, "split time 2"] = timeToSeconds(row["split time 2"])
        df.at[index, "split time 3"] = timeToSeconds(row["split time 3"])
        df.at[index, "Total Time"] = timeToSeconds(row["Total Time"])
    return df

In [22]:
def createCompetitionColumns(df):
    df = pd.get_dummies(df,columns=['Competiton Type','Competition Round'], dtype=bool)
    return df

In [23]:
def create_DeltaTimes(df):
     for index, row in df.iterrows():
        df.at[index,"D0_250"] = row["split time 1"]
        df.at[index,"D250_500"] = pd.to_numeric(row["split time 2"])-pd.to_numeric(row["split time 1"])
        df.at[index,"D500_750"] = pd.to_numeric(row["split time 3"])-pd.to_numeric(row["split time 2"])
        df.at[index,"D750_1000"] = pd.to_numeric(row["Total Time"])-pd.to_numeric(row["split time 3"])

In [26]:
# Datum opschonen
df = cleanColumns(df)
# Datum opsplitens in verschillende columns
df = splitDateInColumns(df)
# Convert alle tijden naar seconden
convertTimes(df)
#Make columns of categorial columns
df = createCompetitionColumns(df)

df.to_csv("K2_MEN_DATASET.csv")

TypeError: strptime() argument 1 must be str, not int

In [11]:
def create_tactic_columns:
    #Fast/Neutral/Slow Start?
    #Fast/Neutral/Slow  Middle?
    #Fast/Neutral/Slow End?

SyntaxError: invalid syntax (<ipython-input-11-cc1662bc6811>, line 1)

In [ ]:
def createRaceIndex():

In [ ]:
def createPb_TimecurrentSeason():

In [ ]:
def create_Pb_Rank_currentSeason():

In [ ]:
def create_Reached_FinalA():

In [ ]:
def create_AVG_Rank_currentSeason():

In [ ]:
def create_Reached_Semi():

In [ ]:
def create_FinalRank():

In [ ]:
def create_count_FinalA_currentSeason():

In [ ]:
def create_FinalARatio_currentSeason():