In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [5]:
def splitDateInColumns(df):
    for index, row in df.iterrows():
        date_object = datetime.strptime(row["Date"], '%d.%m.%Y')
        df.at[index, 'Day'] = date_object.day
        df.at[index, 'Month'] = date_object.month
        df.at[index, 'Year'] = date_object.year

    return df

In [6]:
# Solution from : https://stackoverflow.com/questions/32854677/how-to-deal-with-multiple-date-string-formats-in-a-python-series
def timeToSeconds(timestr):
    for fmt in ("%M:%S.%f", "%S.%f", "%S:%f", "%M:%S:%f"):
        try:
            t = datetime.strptime(timestr, fmt)
            seconds = (t.minute * 60) + t.second + (t.microsecond * 1e-6)
            return round(seconds)
            break
        except ValueError:
            pass

In [7]:
def cleanColumns(df):
    df = df.dropna(subset=['Date', 'Person 1', 'Person 2',
                           'split time 1', 'split time 2', 'split time 3', 'Total Time'])
    return df

In [8]:
def convertTimes(df):
    for index, row in df.iterrows():
        df.at[index, "split time 1"] = timeToSeconds(row["split time 1"])
        df.at[index, "split time 2"] = timeToSeconds(row["split time 2"])
        df.at[index, "split time 3"] = timeToSeconds(row["split time 3"])
        df.at[index, "Total Time"] = timeToSeconds(row["Total Time"])
    return df

In [9]:
def createCompetitionColumns(df):
    df = pd.get_dummies(df,columns=['Competiton Type','Competition Round'], dtype=bool)
    return df

In [10]:
def create_DeltaTimes(df):
     for index, row in df.iterrows():
        df.at[index,"D0_250"] = row["split time 1"]
        df.at[index,"D250_500"] = pd.to_numeric(row["split time 2"])-pd.to_numeric(row["split time 1"])
        df.at[index,"D500_750"] = pd.to_numeric(row["split time 3"])-pd.to_numeric(row["split time 2"])
        df.at[index,"D750_1000"] = pd.to_numeric(row["Total Time"])-pd.to_numeric(row["split time 3"])

In [11]:
def createRaceIndex(df):
    for index, row in df.iterrows():
        df.at[index,"Race"] = row["Year"]  + "_" +row["Place"]
    return df

In [12]:
def create_tactic_columns:
    #Fast/Neutral/Slow Start?
    #Fast/Neutral/Slow  Middle?
    #Fast/Neutral/Slow End?

SyntaxError: invalid syntax (<ipython-input-12-cc1662bc6811>, line 1)

In [193]:
def createPb_TimecurrentSeason(df):
    for index, row in df.iterrows():
        seasonTimes = df.loc[(df["Year"] == row["Year"]) & (df['Date'] <= row["Date"]) & (df["Person 1"] == row["Person 1"]) & (df["Person 2"] == row["Person 2"])]
        print(best_seasonTime)
        #df.at[index,"Season_Best_Time"] = seasonTimes["Total Time"][0]
        
    return df

In [ ]:
def create_Pb_Rank_currentSeason():

In [143]:
def create_Reached_FinalA(df):
    #Loop over elke row
    for index, row in df.iterrows():
        #check of ploeg in row i in de a finale komt
        dataCount = df.loc[(df["Competition Round_FINAL A"] == True) & (df["Year"] == row["Year"]) & (df["Place"] == row["Place"]) & (df["Person 1"] == row["Person 1"]) & (df["Person 2"] == row["Person 2"])].shape[0]
        #als ploeg in de a finale geraakt
        if(dataCount >= 1):
            df.at[index,"Reached_FINAL_A"] = True
        else: 
            df.at[index,"Reached_FINAL_A"] = False        
    return df

In [ ]:
def create_AVG_Rank_currentSeason():

In [154]:
def create_Reached_Semi(df):
    #Loop over elke row
    for index, row in df.iterrows():
        #check of ploeg in row i in de a finale komt
        dataCount = df.loc[(df["Competition Round_SEMIFINAL"] == True) & (df["Year"] == row["Year"]) & (df["Place"] == row["Place"]) & (df["Person 1"] == row["Person 1"]) & (df["Person 2"] == row["Person 2"])].shape[0]
        #als ploeg in de a finale geraakt
        if(dataCount >= 1):
            df.at[index,"Reached_SEMI"] = True
        else: 
            df.at[index,"Reached_SEMI"] = False        
    return df

In [ ]:
def create_FinalRank(df):

In [182]:
def create_count_FinalA_currentSeason(df):
    #Loop over elke row
    for index, row in df.iterrows():
        FinalACount = df.loc[(df["Year"] == row["Year"]) & (df['Date'] < row["Date"])& (df["Person 1"] == row["Person 1"]) & (df["Person 2"] == row["Person 2"]) & (row["Reached_FINAL_A"] == True)].shape[0]
        df.at[index,"FinalACountCurrentSeason"] = FinalACount
    return df

In [ ]:
def create_FinalARatio_currentSeason():

In [194]:
df = pd.read_csv("data.csv",sep=";",error_bad_lines=False)
df.tail()

,Date,Place,Time,Category,Sex,Country,Lane,Person 1,Person 2,split time 1,split time 2,split time 3,Total Time,Final Rank,Air Temp,Wind Speed,Wind Direction,Competiton Type,Competition Round
588,23.05.2015,COPENHAGEN,10:44,SEN,M,CAN,1.0,Brian MALFESI,Andrew JESSOP,NaN,NaN,NaN,3:42.416,5.0,NaN,NaN,NaN,WORLDCUP,FINAL A
589,23.05.2015,COPENHAGEN,10:44,SEN,M,GBR,6.0,Mathew BOWLEY,William RUTHERFORD,NaN,NaN,NaN,3:44.684,6.0,NaN,NaN,NaN,WORLDCUP,FINAL A
590,23.05.2015,COPENHAGEN,10:44,SEN,M,IRI,2.0,Ali AGHAMIRZAEIJENAGHRAD,Saeid FAZLOULA,NaN,NaN,NaN,3:45.684,7.0,NaN,NaN,NaN,WORLDCUP,FINAL A
591,23.05.2015,COPENHAGEN,10:44,SEN,M,BEL,8.0,Toon BROEKX,Piet BROEKX,NaN,NaN,NaN,3:45.692,8.0,NaN,NaN,NaN,WORLDCUP,FINAL A
592,23.05.2015,COPENHAGEN,10:44,SEN,M,FIN,9.0,Jeremy HAKALA,Miika DIETRICH,NaN,NaN,NaN,3:46.412,9.0,NaN,NaN,NaN,WORLDCUP,FINAL A

In [195]:
# Datum opschonen
df = cleanColumns(df)
# Datum opsplitens in verschillende columns
df = splitDateInColumns(df)
# Convert alle tijden naar seconden
convertTimes(df)
#Make columns of categorial columns
df = createCompetitionColumns(df)

df = create_Reached_FinalA(df)
df = create_Reached_Semi(df)


df = create_count_FinalA_currentSeason(df)

df = createPb_TimecurrentSeason(df)

df.to_csv("K2_MEN_DATASET.csv")
df.head()

ValueError: attempt to get argmin of an empty sequence